* {
	margin: 0px;
	padding: 0px;
	cursor: inherit;
	-webkit-tap-highlight-color: transparent !important;
}

html { /* overflow: -moz-scrollbars-vertical;*/
	
}

img {
	border: none;
	vertical-align: middle;
	cursor: pointer;
}

.dragable {
	cursor: move;
}

.clickable {
	cursor: pointer;
}

/* Clear Fix */
.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block; /* IE7xhtml*/
}

html[xmlns] .clearfix { /* O */
	display: block;
}

* html .clearfix {
	height: 1%; /* IE5-6 */
}

/* Style main */
.lft {
	display: inline;
	float: left;
}

.rgt {
	display: inline;
	float: right;
}

.non-float {
	float: none;
}

a {
	cursor: pointer;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.content {
	max-width: 800px; padding : 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	padding: 19px 29px 29px;
}

.form-signin {
	max-width: 300px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow>hr {
	margin: 30px 0;
}

.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}
.error {
	border: 1px solid red !important;
}
/** calendar css**/
.cal_navigation {}
.cal_nav_header {}
.cal_navigation input  {
	width:30px !important;
	height:30px;
	background-color:#e9d801;
	border: none;
	color:#333333;
}
.cal_week_days_header {
	background-color:#464646;
	color:#9b9b9b;
}
.cal_week_days_header td {
	width: 42px;
}
.cal_days_busy {
	background-color:red;
}
.cal_days_partial_bussy {
	background-color:#e9d801;
}
.cal_days_free {
	background-color:#ffffff;
	color:#454545;
}
.cal_days_selected {
	/*background-color:#08C;*/
	/*color:#ffffff;*/
}

.cal_days_free input,
.cal_days_busy input,
.cal_days_partial_bussy input,
.cal_days_selected input {
	width: 30px !important;
	border:none;
	color: inherit;
	font-weight: bold;
	font-size: 14px;
	background-color: inherit;
}
.reservation_status_0 {
	color:#08C
}
.reservation_status_1 {
	color:#5BB75B;	
}
.reservation_status_2 {
	color:red;	
}

.ui-datepicker.ui-widget-content .ui-state-default { background: none; }
.ui-widget-content .eventDay a.ui-state-default { background-color: #e9d801; }
.ui-widget-content .busyDay { background-color: #f00; opacity:1;color:#fff;}
.ui-widget-content .busyDay span{ color:#fff;}
